<section>
  <div *ngIf="user">
    <h1>{{ user.login }} ({{ user.name }})</h1>
    <p>{{ user.location }}</p>
    <a href="{{ user.blog }}">website</a>
    <img [src]="user.avatar_url" />
  </div>

  <h2>Repos</h2>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Stars</td>
        <td>Created at</td>
        <td>Pushed at</td>
        <td>Main language</td>
        <td>All languages</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repo of repos">
        <td>{{ repo.name }}</td>
        <td>{{ repo.stargazers_count }}</td>
        <td>{{ repo.created_at | toDate | amTimeAgo  }}</td>
        <td>{{ repo.pushed_at  | toDate | amTimeAgo }}</td>
        <td>{{ repo.language }}</td>
        {{ ( reposLanguages[repo.full_name] ? reposLanguages[repo.full_name] : 'Loading...') | json }}
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
